networks:
  {{ uptimekuma_network }}:
    external: true

services:
  server:
    image: {{ uptimekuma_image }}
    container_name: uptimekuma
    restart: unless-stopped
    networks:
      - {{ uptimekuma_network }}
    volumes:
      - uptime-data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - traefik.enable=true
      - traefik.http.routers.uptimekuma.rule=Host(`{{ uptimekuma_domain }}`)
      - traefik.http.routers.uptimekuma.tls=true
      - traefik.http.services.uptimekuma.loadbalancer.server.port=3001

volumes:
  uptime-data:
