NODE_ENV=production
URL=https://{{ outline_fqdn }}
PORT=3000
WEB_CONCURRENCY={{ outline_web_concurrency }}
DEFAULT_LANGUAGE={{ outline_language }}

SECRET_KEY={{ outline_secret_key }}
UTILS_SECRET={{ outline_utils_secret }}

DATABASE_URL=postgres://{{ outline_pg_user }}:{{ outline_pg_password }}@postgres:5432/{{ outline_pg_db }}
PGSSLMODE=disable

REDIS_URL=redis://redis:6379

FILE_STORAGE={{ outline_file_storage }}
FILE_STORAGE_LOCAL_ROOT_DIR={{ outline_file_storage_local_root_dir }}
FILE_STORAGE_UPLOAD_MAX_SIZE={{ outline_file_storage_upload_max_size }}

FORCE_HTTPS={{ outline_force_https }}

OIDC_CLIENT_ID={{ outline_oidc_client_id }}
OIDC_CLIENT_SECRET={{ outline_oidc_client_secret }}
OIDC_AUTH_URI={{ outline_oidc_auth_uri }}
OIDC_TOKEN_URI={{ outline_oidc_token_uri }}
OIDC_USERINFO_URI={{ outline_oidc_userinfo_uri }}
OIDC_LOGOUT_URI={{ outline_oidc_logout_uri }}
OIDC_USERNAME_CLAIM={{ outline_oidc_username_claim }}
OIDC_DISPLAY_NAME={{ outline_oidc_display_name }}
OIDC_SCOPES={{ outline_oidc_scopes }}

SMTP_HOST={{ outline_smtp_host }}
SMTP_PORT={{ outline_smtp_port }}
SMTP_SECURE={{ outline_smtp_secure }}
SMTP_FROM_EMAIL={{ outline_smtp_from_email }}

RATE_LIMITER_ENABLED=true
RATE_LIMITER_REQUESTS=1000
RATE_LIMITER_DURATION_WINDOW=60

ENABLE_UPDATES=false
LOG_LEVEL=info
DEBUG=http
