#
# upsd.conf - Configuration for Network UPS Tools upsd
#

# Interfaces to listen for TCP connections from clients.
# if not specified, the default port is 3493.
# This will only be read at startup of upsd.  If you make changes here,
# you'll need to restart upsd, reload will have no effect.
#
LISTEN 0.0.0.0 3493
